
p {
  font-size: 2rem;
}

#restarter {
  width: 140px;
  height: 30px;
  border-radius: 4rem;
  background-color: var(--background3);
  color: var(--button);
  font-family: 'Courier New', Courier, monospace;
}

.container {
  background-color: var(--background1);
  width: 480px;
  margin: 0 auto;
  border: 0.24rem solid;
  border-radius: 0.4rem;
}

.flex {
  display: flex;
  margin: 2rem;
}

.center {
  justify-content: center;
  align-items: baseline;
}

.middle {
  justify-content: space-around;
}
