/* You can add global styles to this file, and also import other style files */

:root {
  --black: #071013;
  --green: #56b89e;
  --blue: #569cb8;
  --red: #b85670;
  --yellow: #bbc270;
  --background1: #4e8281;
  --background2: #609695;
  --background3: #398281;
  --title: #1d4242;
  --button: #59f7f5;
}

body {
  background-color: var(--background2);
}
